.tab-header-container{
  height: 48px;
}

.tab-container-container{
  height: calc(100% - 48px);
  padding: 10px 0px;
}

.trade-helper-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0px 5px;
}